name: Build and Publish back-end

on:
  # run it on push to the default repository branch
  push:
    branches: [ops/add-docker]
  # run it during pull request
  # pull_request:
  #  branches: [add-docker]

env:
  SERVICE-ACCOUNT: kaktus-service-account
  REGION: us-central1
  PROJECT-ID: kaktus-cicd 
  REPO-NAME: kaktus-repo
  REPO-FNAME: us-central1-docker.pkg.dev/kaktus-cicd/kaktus-repo
  REGISTRY: us-central1-docker.pkg.dev
  PROVIDER-ID: projects/1044927291290/locations/global/workloadIdentityPools/kaktus-pool/providers/kaktus-provider 
  IMAGE-NAME: node-web-app
  TAG: latest

jobs:
  # define job to build and publish docker image
  build-docker-image:
    name: Build image
    runs-on: ubuntu-latest
    
    permissions:
      contents: 'read'
      id-token: 'write'
    
    steps:
      - id: checkout
        name: Git clone repo
        uses: actions/checkout@v1

      - id: auth
        name: Authenticate with Google Cloud
        uses: google-github-actions/auth@v0
        with:
          token_format: access_token
          workload_identity_provider: ${{ env.PROVIDER-ID }}
          service_account: ${{ env.SERVICE-ACCOUNT }}@${{ env.PROJECT-ID }}.iam.gserviceaccount.com
          access_token_lifetime: 300s

      - name: Login to Artifact Registry
        uses: docker/login-action@v1
        with:
          registry: ${{ env.REGISTRY }}
          username: oauth2accesstoken
          password: ${{ steps.auth.outputs.access_token }}

#      - name: Build Docker Image
#        working-directory: ./
#        run: |
#          VERSION=$(cat VERSION) 
#          docker build . --file Dockerfile --tag node-web-app:$VERSION-$(date +%s)

      - name: Create Tags
        run: |
          echo "MAIN-TAG=$( cat VERSION )-$( date +%s )" >> $GITHUB_ENV

      - name: Tag Docker image and push to Google Artifact Registry
        id: docker-push-tagged
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: |
             ${{ env.REPO-FNAME }}/${{ env.IMAGE-NAME }}:${{ env.MAIN-TAG }}
             ${{ env.REPO-FNAME }}/${{ env.IMAGE-NAME }}:latest

      - name: List of images
        run: docker images
